<?xml version="1.0" encoding="utf-8"?>
<!-- Jen ladicí verze: ukázka obrazovky průběhu pro snímky na emulátoru. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="cz.promptlab.h3video.UkazkaPrubehuActivity"
            android:exported="true" />
    </application>
</manifest>
